*.ini
*.txt
*.ps1
*.PRJ
*.bk
*.ico
*.DB
*.def
*.tsv
*.DB-BK
_*.*
.git - Copy/
BK/
Build-v8/
Build-v8-beta/
Divers/
FileInstall/BK_old_classic/
Language/
Promo/
ScreenCaptures/
Setup Script files/OLD/
Distribution-files/Old/
Build-v8-alpha/
Compile-QAP-v8-*.iss
*.xlsx
