*.ini
*.txt
*.ps1
*.PRJ
*.bk
*.ico
*.DB
*.def
*.tsv
.git - Copy/
BK/
Build-v8/
Build-v8-beta/
Divers/
FileInstall/BK_old_classic/
Language/
Promo/
ScreenCaptures/
Setup Script files/OLD/
*.DB-BK
Distribution-files/Old/
_*.*
